.stocklines {
  width: 100%;
  min-height: 70px;
  max-height: 70px;

  border-bottom: 1px solid lightgray;

  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
}

.stocklines p {
  width: 20%;
  font-family: "Nunito";
}
