.flow-line {
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  border-bottom: 1px solid lightgray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-line p {
  width: 25%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Nunito";
}
