.productlines {
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
}

.productlines .photo {
  width: 54px;
  height: 54px;
}

.productlines .linecolumn {
  width: 20%;
  height: auto;

  display: flex;
  align-items: center;
}

.productlines .linecolumn p {
  font-family: "Nunito";
}

.productlines .tophoto {
  width: 20%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
