.user-container {
  width: 12%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.user-container h3 {
  font-family: "Montserrat";
}

.user-container .initials {
  width: 68px;
  height: 68px;
  border-radius: 100%;

  background-color: #dedee9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container .user-name-arrow {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
