.producttable-container {
  width: 100%;
  height: 90%;
  padding-left: 6%;
}

.producttable-container .header-producttable {
  width: 88%;
  height: 11%;

  display: flex;
  align-items: center;
  gap: 15px;
}
.producttable-container .header-producttable h1 {
  font-family: "Montserrat";
}

.producttable-container .content-producttable {
  width: 88%;
  height: 80%;

  display: flex;
  flex-direction: column;
}

.producttable-container .content-producttable .columns-names {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.producttable-container .content-producttable .columns-names strong {
  height: 100%;
  width: 20%;

  display: flex;
  align-items: center;

  font-family: "Nunito";
}
